{% extends 'base.html' %}

{% block content %}
    <style>
    button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        color: rgb(0, 0, 0);
        cursor: pointer;
        text-align: center;
        margin: 10px;
    }

    menu{
      display: flex;
      flex-direction: row;
    }


    </style>
    <body>
        <div class="centered-container">
            <div id="menu">
                <h1>Home</h1>
                <button>Start Servo Calibration</button>
                <button>Set Food Dispense Angle</button>
                <button>Set Food Retrieve Angle</button>
            </div>    
        </div>        
    </body>
{% endblock %}