<!-- templates/index.html -->
{% include 'header.html' %}
<h1>Welcome to my Raspberry Pi website!</h1>
<p>This is a simple Flask web application running on a Raspberry Pi.</p>

<form action="/change_wifi" method="post">
    <label for="ssid">WiFi SSID:</label>
    <input type="text" id="ssid" name="ssid" required><br><br>
    <label for="password">WiFi Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Change WiFi">
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}