<!DOCTYPE html>
<html>
<head>
    <title>My Raspberry Pi Website</title>
</head>
<body>
    <h1>Welcome to my Raspberry Pi website!</h1>
    <p>This is a simple Flask web application running on a Raspberry Pi.</p>
    
    <form action="/change_wifi" method="post">
        <label for="ssid">WiFi SSID:</label>
        <input type="text" id="ssid" name="ssid" required><br><br>
        <label for="password">WiFi Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Change WiFi">
    </form>

    <form action="/enable_ap" method="post" style="margin-top: 20px;">
        <input type="submit" value="Enable Access Point">
    </form>

    <form action="/disable_ap" method="post" style="margin-top: 20px;">
        <input type="submit" value="Disable Access Point">
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</body>
</html>